<main class="mt-5">
  <div class="container">
    <div class="text-center mb-3">
      <h1 class="text-primary text-center">Tentang Author</h1>
      <u><a href="/">&larr;kembali</a></u>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 mb-3">
        <div class="card shadow">
          <div class="card-body">
            <div class="text-center">
              <img src="../img/author2.jpg" class="img-fluid rounded-circle my-3 w-50">
              <h1 class="text-primary">M. Nasyikh Al-Qusyairy</h1>
            </div>
            <table class="table text-secondary">
              <tbody>
                <tr>
                  <td>Tempat & Tanggal Lahir</td>
                  <td>:</td>
                  <td>Gresik, 21 Mei 2003</td>
                </tr>
                <tr>
                  <td>Instagram</td>
                  <td>:</td>
                  <td><a href="https://www.instagram.com/naseh_alqusyairy/" target="blank">@naseh_alqusyairy</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card shadow">
          <div class="card-body">
            <div class="text-center">
              <img src="../img/author.jpg" class="img-fluid rounded-circle my-3 w-50">
              <h1 class="text-primary">Dzulfikar Al Ghozali</h1>
            </div>
            <table class="table text-secondary">
              <tbody>

                <tr>
                  <td>Tempat & Tanggal Lahir</td>
                  <td>:</td>
                  <td>Pasuruan, 9 Oktober 2002</td>
                </tr>
                <tr>
                  <td>Instagram</td>
                  <td>:</td>
                  <td><a href="https://www.instagram.com/dzul_fikar09_/" target="blank">@dzul_fikar09_</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>