<div class="preload">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-4 col-md-2 text-center">
        <img src="../img/maths.png" alt="" class="img-fluid mb-3">
        <h3 class="text-white">
          Memuat...
        </h3>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="container">
    <div class="text-center mt-5 mb-3">
      <h1 class="text-primary">
        Kalkulator Matriks
      </h1>
      <h5 class="text-secondary">Ordo 3x3</h5>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <a class="btn btn-primary btn-block btn-lg shadow" href="/penjumlahan">Penjumlahan</a>
        <a class="btn btn-primary btn-block btn-lg shadow" href="/pengurangan">Pengurangan</a>
        <a class="btn btn-primary btn-block btn-lg shadow" href="/perkalian">Perkalian</a>
        <a class="btn btn-primary btn-block btn-lg shadow" href="/determinan">Determinan</a>
        <a class="btn btn-primary btn-block btn-lg shadow" href="/inverse">Inverse</a>
        <a class="btn btn-secondary btn-block btn-lg shadow" href="/about">Tentang Author</a>
        <p class="text-center text-secondary mt-3">
          Versi <%=version%> <span id="message"></span>
        </p>
      </div>
    </div>
  </div>
</main>